.menu-container {
    width: 100%;
    text-align: center;
}

.menu-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #323232;
}

p {
    color: #323232;
}
.menu-container p {
    margin: 5px 0;
}

.logout-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    background-color: #F0C1E1;
    color: 323232;
    border: none;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #CB9DF0;
}

.menu-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-links a {
    color: #323232;
    text-decoration: none;
    margin: 5px 0;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.menu-links a:hover {
    color: #1e90ff;
}

a {
    color: #323232;
}