.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Darker overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.task-modal {
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.task-modal h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.task-input {
    margin: 10px 0;
    padding: 10px; 
    padding-left: 40px;
    width: 100%;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #828282;
    font-weight: 400;
}

.task-input:focus {
    border-color: #5769D4; 
    outline: none;
    box-shadow: 0 0 10px 3px rgba(87, 105, 212, 0.30);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-task-button, .cancel-task-button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-task-button {
    background-color: #BDE8CA;
    color: #323232;
}

.save-task-button:hover {
    background-color: #41B3A2;
}

.cancel-task-button {
    background-color: #F0C1E1;
    color: #323232;
}

.cancel-task-button:hover {
    background-color: #CB80AB;
}
.category-dropdown {
    margin: 10px 0;
}

.category-dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    font-size: 14px;
    color: #828282;
    background-color: #ffffff;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23323232" viewBox="0 0 16 16"><path d="M2 5.5L8 11l6-5.5H2z"/></svg>'); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.category-dropdown select:focus {
    border-color: #5769D4;
    outline: none;
    box-shadow: 0 0 10px 3px rgba(87, 105, 212, 0.30);
}

.category-dropdown option {
    padding: 10px;
    background-color: #ffffff;
    color: #323232;
}

.category-dropdown option:hover {
    background-color: #BDE8CA; /* Highlight option on hover */
}